<footer class="site-footer-wrapper"
  role="contentinfo"
  data-section-id="{{ section.id }}"
  data-section-type="footer">
  {% if section.settings.footer_image %}
    <div class="footer-logo-wrapper">
      <a href="{{ routes.root_url }}" class="footer-logo" data-footer-logo>
        <img src="{{ section.settings.footer_image | img_url: 'x200' }}" alt="{{ section.settings.footer_image.alt | default: shop.name }}"/>
      </a>
    </div>
  {% endif %}
  <div class="wrapper site-footer">
    <div class="grid grid--uniform">

      {% case section.blocks.size %}
        {% when 0 %}
        {% when 1 %}
          {% assign footer_column_width = 'medium-up--one-half medium-up--push-one-quarter' %}
        {% when 2 %}
          {% assign footer_column_width = 'medium-up--one-half' %}
        {% when 3 %}
          {% assign footer_column_width = 'medium-up--one-third' %}
        {% when 4 %}
            {% assign footer_column_width = 'medium-up--one-quarter' %}
      {% endcase %}

      {% for block in section.blocks %}
        {% case block.type %}

          {% when 'linklist' %}
            {% assign linklist = linklists[block.settings.linklist] %}
            <div class="grid__item {{ footer_column_width }} footer__block" {{ block.shopify_attributes }}>
              <p class="uppercase footer__title">{{ linklist.title }}</p>
              <hr class="hr--underline">
              <ul class="footer-quicklinks">
                {% for link in linklist.links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>

          {% when 'page' %}
            {% assign page = pages[block.settings.page] %}
            {% if page == blank or page.empty? %}
              <div class="grid__item {{ footer_column_width }} footer__block" {{ block.shopify_attributes }}>
                <p class="uppercase footer__title">{{ shop.name }}</p>
                <hr class="hr--underline">
                <div class="rte rte--column">{{ 'home_page.onboarding.no_content' | t }}</div>
            </div>
            {% else %}
              <div class="grid__item {{ footer_column_width }} footer__block" {{ block.shopify_attributes }}>
                <p class="uppercase footer__title">{{ page.title | escape }}</p>
                <hr class="hr--underline">
                <div class="rte rte--column">{{ page.content }}</div>
              </div>
            {% endif %}

          {% when 'text' %}
            <div class="grid__item {{ footer_column_width }} footer__block" {{ block.shopify_attributes }}>
              <p class="uppercase footer__title">{{ block.settings.title | escape }}</p>
              <hr class="hr--underline">
              <div class="rte rte--column">{{ block.settings.text }}</div>
            </div>

          {% when 'newsletter' %}
            <div class="grid__item {{ footer_column_width }} footer__block" {{ block.shopify_attributes }}>
              <p class="uppercase footer__title">{{ 'layout.footer.newsletter_title' | t }}</p>
              <hr class="hr--underline">
              <div class="rte rte--column">
                {{ block.settings.richtext }}
              </div>
              {% render 'newsletter-form' %}
            </div>

          {% else %}
        {% endcase %}
      {% endfor %}
    </div>

    <div class="grid footer-secondary-wrapper">

      <div class="footer-selects">
        {%- form 'localization', class: 'popout--footer' -%}
          {%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
            <div>
              <h2 class="visually-hidden" id="lang-heading">
                {{ 'layout.footer.language' | t }}
              </h2>
              <div class="popout" data-popout>
                <button type="button" class="popout__toggle" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-popout-toggle>
                  {{ form.current_locale.endonym_name }}
                  {%- render 'icon-arrow-down' -%}
                </button>
                <ul id="lang-list" class="popout-list" data-popout-list>
                  {% for locale in form.available_locales %}
                    <li class="popout-list__item {% if locale.iso_code == form.current_locale.iso_code %}popout-list__item--current{% endif %}">
                      <a class="popout-list__option" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-popout-option>
                        <span>{{ locale.endonym_name }}</span>
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
                <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-popout-input/>
              </div>
            </div>
          {%- endif -%}

          {%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
            <div>
              <h2 class="visually-hidden" id="currency-heading">
                {{ 'layout.footer.currency' | t }}
              </h2>
              <div class="popout" data-popout>
                <button type="button" class="popout__toggle" aria-expanded="false" aria-controls="currency-list" aria-describedby="currency-heading" data-popout-toggle>
                  {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                  {%- render 'icon-arrow-down' -%}
                </button>
                <ul id="currency-list" class="popout-list" data-popout-list>
                  {% for currency in form.available_currencies %}
                    <li class="popout-list__item {% if currency.iso_code == form.current_currency.iso_code %}popout-list__item--current{% endif %}">
                      <a class="popout-list__option" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-popout-option>
                        <span>{{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}</span>
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
                <input type="hidden" name="currency_code" id="CurrencySelector" value="{{ form.current_currency.iso_code }}" data-popout-input/>
              </div>
            </div>
          {%- endif -%}
        {%- endform -%}
      </div>


      <ul class="footer-secondary inline-list">
          <li>&copy; {{ shop.name | link_to: routes.root_url }} {{ 'now' | date: "%Y" }}</li>
        {% for link in linklists[section.settings.footer_secondary_linklist].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        <!-- Remove the following line to remove 'Powered by Shopify' from your footer -->
          <li data-powered-link>{{ powered_by_link }}</li>
        <!-- Do not delete below this line -->
      </ul>

      {% if section.settings.footer_social_enable %}
        <ul class="footer-social social-icons grid__item inline-list">
          {%- assign social_accounts = 'Facebook, Twitter, Tiktok, Pinterest, Instagram, Snapchat, Tumblr, Linkedin, YouTube, Vimeo, Medium, ' | split: ', ' -%}
          {%- for social in social_accounts -%}
            {%- assign social_handle = social | handleize -%}
            {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}

            {%- if settings[social_link] != blank -%}
              <li>
                <a href="{{ settings[social_link] }}" title="{{ social }}">
                  {% render 'social-icon' handle: social_handle  %}
                  <span class="visually-hidden">{{ social }}</span>
                </a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {% endif %}

      {% if section.settings.footer_payment_enable %}
        {% unless shop.enabled_payment_types == empty %}
        <ul class="footer-payment payment-icons inline-list">
          {% for type in shop.enabled_payment_types %}
          <li>
            {{ type | payment_type_svg_tag: class:'payment-icon' }}
            <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
          </li>
          {% endfor %}
        </ul>
        {% endunless %}
      {% endif %}

    </div>
  </div>
</footer>
<style>
  .uppercase.footer__title{
    display: none;
  }
  .footer__block .hr--underline{
    display: none;
  }
</style>
{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "label": "Footer logo",
      "type": "image_picker",
      "id": "footer_image",
      "info": "400 x 200px .png"
    },
    {
      "type": "header",
      "content": "Bottom bar"
    },
    {
      "type": "link_list",
      "id": "footer_secondary_linklist",
      "label": "Link List",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "checkbox",
      "id": "footer_payment_enable",
      "label": "Show payment types"
    },
    {
      "type": "checkbox",
      "id": "footer_social_enable",
      "label": "Show social icons"
    },
    {
      "type": "header",
      "content": "language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    }
  ],
  "blocks" : [
    {
      "type": "linklist",
      "name": "Link list",
      "settings": [
        {
           "type": "link_list",
           "id": "linklist",
           "label": "Link list",
           "default": "main-menu",
           "info": "This menu won't show dropdown items"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Subscribers are under 'Accepts Marketing' in your [customer admin](/admin/customers)."
        },
        {
          "id": "richtext",
          "type": "richtext",
          "label": "Newsletter description",
          "default": "<p>Join to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Text column"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "id": "page",
          "type": "page",
          "label": "Page"
        }
      ]
    }
  ]
}
{% endschema %}
