<!-- /sections/page-faq.liquid-->

<div data-section-id="{{ section.id }}" data-section-type="page-faq" id="faq-section">
  <div class="wrapper pb4">
    <div class="grid">
      <div class="grid__item medium-up--two-thirds medium-up--push-one-sixth">
        
        {% for block in section.blocks %}
          {% if block.type == "heading" %}
            <h1 class="text-center h3 page__title">{{ block.settings.heading_title }}</h1>
          {% else %}
         
            <div class="faq__wrapper">
              <button class="faq__button"
                data-accordion-toggle="accordion-{{ block.id }}"
                aria-controls="accordion-{{ key }}"
                aria-haspopup="true" 
                aria-expanded="false">
                <span class="accordion__title">{{ block.settings.title }}</span>
                <span class="accordion__chevron">
                  {% render 'icon-arrow-medium-right' %}
                  <span class="a11y__show visually-hidden">{{ 'general.accessibility.expand_menu' | t }}</span>
                  <span class="a11y__hide visually-hidden">{{ 'general.accessibility.hide_menu' | t }}</span>
                </span>
              </button>
              <div class="accordion__content accordion__content--faq" 
                data-accordion 
                id="accordion-{{ block.id }}">
                  <span {{ block.shopify_attributes }}></span>
                  {{ block.settings.content }}
              </div>
            </div>
          {% endif %}
        {% else %}
          <div class="homepage-page__content rte">
            {{ 'home_page.onboarding.no_content' | t }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<style>
  #faq-section h1.page__title:first-of-type{
    margin-top: 0px;
  }
  
  #faq-section h1.page__title{
    margin-top: 60px;
  }
</style>
{% schema %}
{
  "name": "FAQ",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Frequently Asked Questions"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Section Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading_title",
          "label": "Section Heading",
          "default": "About US"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Frequently asked question"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Share details about your shipping policies, item returns, or customer service.</p>"
        }
      ]
    }
  ],
    "default": {
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
}
{% endschema %}
